.TaskItem {
	display: flex;
	flex: 1 1 auto;
	background-color: black;
	color: white;
	&+.active {
		background-color: #008c8c;
	}
	.hour, .text {
		padding: 5px;
	}
	.hour {
		width: 100px;
		border: solid 1px white;
	}
	.text {
		flex: 1 1 auto;
		border: solid 1px white;
	}
}